@layer reset, theme, components;

@import 'modern-css-reset' layer(reset);

@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');

@layer theme {
  :root {
    /* 粉紫及粉紅 */
    --brand-color: rgb(255, 87, 112);
    --brand-color-hover: rgb(221, 61, 85);
    font-family: 'Chiron Sung HK', serif;
    font-optical-sizing: auto;
  }

  body {
    background:
      radial-gradient(129% 99% at 112% 85%, rgb(254, 255, 220) 20%, rgb(255, 179, 158) 90%),
      url('@/assets/noise.png');
    background-blend-mode: color-dodge;
    overflow: hidden;
  }

  .fullscreen {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* 元件樣式或 utility 再放 components layer */
@layer components {
}
