@layer reset, theme, components;

@import 'modern-css-reset' layer(reset);

@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');

@layer theme {
  :root {
    /* 粉紫及粉紅 */
    --brand-color: rgb(255, 87, 112);
    --brand-color-hover: rgb(221, 61, 85);
    font-family: 'Chiron Sung HK', serif;
    font-optical-sizing: auto;
  }

  /* body {
    font-family: system-ui, sans-serif;
    color: #333;
    line-height: 1.6;
    background: #ffe4f3;
  } */

  /* body {
    margin: 0;
    background: linear-gradient(135deg, #fdf1f1, #f6e3ff, #e0f0ff);
    background-size: 200% 200%;
    animation: bgMove 10s ease-in-out infinite;
    position: relative;
  }

  body::before {
    content: '';
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42mNgoCX4z0AEMBgEGbVgGFDAkRiXAhQDYmDKGQRig8YBAAmUJ4ACowQTzAwMEADflS9Zs+fwOQAAAABJRU5ErkJggg==');
    opacity: 0.15;
    z-index: 0;
  } */

  body {
  }
}

/* 元件樣式或 utility 再放 components layer */
@layer components {
}
